#row {
    margin-top: 2vh;
    margin-right: 1vw;
}

#mensaje {
    height: 40vh;
    #exampleFormControlTextarea1{
        height: 80%;
    }
}
#submit {
    border-radius: 15px;
    margin-bottom: 2vh;
    color: white;
}
#text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}