* {
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 5px solid green;
}
.container-fluid {
    display: inline;
    margin: auto;
    img {
        margin-left: 10vw;
        width: 8vw;
        image-rendering: optimizeQuality;
    }
    img:hover {
        transform: scale(1.1 , 1.1);
        transition: transform 1s;
    }
}
#navbarNav {
    display: flex;
    justify-content: center;
    align-items: center;
    #nav_link {
        margin-right: 2vw;
        font-size: 20px;
        text-decoration: underline 1px solid green;
        font-family: 'Roboto', sans-serif;
    }
    #nav_link:hover {
        text-decoration: underline 4px solid green;
    }
}