* {
    margin: 0;
    padding: 0;
}
header {
    position: sticky;
    top: 0;
}
.container-fluid {
    background-color: #597901;
    margin-top: -1vh;
    border-top: 5px solid #597901;
    border-bottom: 5px solid #597901;
    
}

#navbarNav {
    font-size: 20px;
    justify-content: center;
    
    a {
        margin-right: 30px;
        color: black;
        font-size: 30px;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
}

.logoGramar {
    width: 200px;
    margin-left: 50px;
    image-rendering: auto;
    image-rendering: crisp-edges;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
     grid-template-areas: 
     "asideLeft main asideRight";
    column-gap: 1vw;
}

.aside#asideLeft {
    grid-area: asideLeft;
}
.aside#asideRight {
    grid-area: asideRight;
}
.mainColumn#main  {
    grid-area: main ;
    border-radius: 20px;
    background-color: #dbdadaf6;
}

  footer {
    height: 40vh;
    background-color: #597901;
    padding: 5px;
    .map_iframe {
        width: 20%;
        height: 20vh;
        margin: 10px;
        margin-right: 20px;
    }
    .iframe_container {
        text-align: center;
    }
    .info {
        text-align: center;
        h2{
            margin-top: 20px;
            font-size: 15px;
        }
        h2:hover{
            color: #ffffff;
            text-decoration: underline;
        }
    }
  }